* {
    margin: 0px;
    overflow: hidden;
  }
  
  nav {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  }
  
  .navbar-image {
    width: 160px;
  }
  
  .searchbar-container {
    display: flex;
    margin: 0px 10px;
    padding: 0;
    align-items: center;
    flex: 1;
    align-items: stretch;
  }
  
  .searchbar {
    background: white;
    padding-right: 20px;
    flex: 1;
  }
  
  .searchbar input {
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    width: 100%;
  }
  
  .searchbar input:focus {
    outline: none;
  }
  
  .searchbar-btn button {
    background-color: #363636;
    border: none;
    border-radius: 10px;
    height: 100%;
    color: white;
    padding: 10px 12px;
    margin-left: 20px;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
  }
  
  .pokedex-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    padding: 0px 10px 20px 10px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 992px) {
    .pokedex-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 600px) {
    .pokedex-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  .pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  
  .pokemon-img-container {
    padding: 0px 5px;
  }
  
  .pokemon-img {
    width: 70px;
    height: 70px;
  }
  
  .pokemon-type {
    display: flex;
  }
  
  .pokemon-type-text {
    margin-right: 10px;
    text-transform: capitalize;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    flex: 1;
    overflow: hidden;
  }
  
  .card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-top h3 {
    text-transform: capitalize;
  }
  
  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .App {
    font-family: sans-serif;
    overflow: hidden;
  }
  
  .icon {
    width: 28px;
    height: 28px;
  }
  
  .pagination-btn {
    background-color: black;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }
  
  .pokemon-heart-btn {
    border: none;
    background-color: #f0f0f0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .not-found-text {
    text-align: center;
    font-size: 1.25rem;
    padding: 20px;
  }
  
  footer {
    font-family: inherit;
    background-color: #363636;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    overflow: hidden;
  }
  footer a {
    color: white;
  }
  